body {
	background-color:lightgreen;
}

#main-section {
 	text-align: justify;
 	padding:5px;
 	height: 200px;
 	width: 600px;
}

aside {
    position: absolute;
  	right: 300px;
  	width: 300px;
  	height: 150px;
}