@charset "utf-8";

* {
	margin:0;
	padding:0;
}

header {
	background-color: white;
}

.main-nav {
    border: 1px;
    border-top: 0;
    margin-left: 5px;
    padding: 3px;
    display: inline-block
}
.logo {
	color:#3EA99F;
	font-size: 60px;
}
nav {
  	background-color: #3EA99F;
}

.page-title {
	margin:0.5%;
	padding:1%
}

.text {
	text-decoration: none;
	color:black;
}

li {
	border-top: 0;
	margin-left: 50px;
	padding: 15px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size:20px;
}

article {
	float: left;
	margin:10px;
	padding-left: 0.5%;
	padding-right: 55%;
}

aside {
	float: right;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.title {
	color: #48D1CC;
}

h1, h4 {
	color: #3EA99F;
}

#follow {
	text-align: center;
}

footer {
	background-color: grey; 
	color:white;
	font-size: 15px;
}

#user {
	font-size: 100px;
}